.avatar {
    box-sizing: initial;
    width: 55px;
    height: 55px;
    border: 4px solid var(--gray-800);
   
}

.avatarWithBorder {
    box-sizing: initial;
    width: 55px;
    height: 55px;
    border: 4px solid var(--gray-800);
    background: white;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    border-radius: 5px;
    outline: 2px solid #00B37E;
    outline: 2px solid #00B37E;
}